In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

DATA COLLECTION AND PREPROCESSING

In [3]:
data =  pd.read_csv("SPAM.csv")
data

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

REPLACING NULL VALUES

In [4]:
mail_data = data.where((pd.notnull(data)), ' ')
mail_data.head()

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

LABEL ENCODING

HAM IS REPRESENTED BY 1  &  SPAM IS REPRESENTED BY 0

In [5]:
mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

SEPARATING THE DATA AS TEXT AND LABEL

In [6]:
X = mail_data['Message']

Y = mail_data['Category']

In [7]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [8]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

SPLITTING THE DATA INTO TRAINING AND TESTING DATA

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [10]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

FEATURE EXTRACTION

TRANSFORMING THE TEXT DATA INTO NUMERICAL VALUES

In [11]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase = 'True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# CONVERTING Y_train and Y_test VALUES AS INTEGERS
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

TRAINING THE MODEL

LOGISTIC REGRESSION

In [12]:
model = LogisticRegression()

In [13]:
model.fit(X_train_features, Y_train)

LogisticRegression()

EVALUATING THE TRAINED MODEL

In [14]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [15]:
print("Accuracy_on_training_data:", accuracy_on_training_data)

Accuracy_on_training_data: 0.9661207089970832

PREDICTION ON TEST DATA

In [16]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [17]:
print("Accuracy_on_test_data:", accuracy_on_test_data)

Accuracy_on_test_data: 0.9623318385650225

BUILDING A PREDICTIVE SYSTEM

In [19]:
input_mail = ["WINNER!! As a valued network customer you have been selected to receivea å£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only"]

# CONVERTING TEXT TO FEATURE VECTORS
input_mail_features = feature_extraction.transform(input_mail)

# MAKING PREDICTIONS
prediction = model.predict(input_mail_features)

if(prediction == 0):
    print("SPAM MAIL")
else:
    print("HAM MAIL")

SPAM MAIL